<!DOCTYPE html>
<html lang="en">
    <title>Proyecto Heroes</title>
    <link rel="stylesheet" href="css/styles.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 >Este sitio busca mostrar de manera simple la información de las Heroínas y los Héroes
        Tecnológicos más representativos del ámbito de la programación.  </h1>

        <ol>
            <li>
                <h2>Charles Babbage</h2>
                <img  width="400"   src="img/charles-babbage.jpg" alt="Charles Babbage">
                <a href="http://localhost:3030/babbage">Ver informacion</a>
            </li>
            <li>
                <h2>Tim Berners-Lee</h2>
                <img width="400" src="img/tin-bernes-lee.jpg" alt="">
                <a href="http://localhost:3030/berners-lee">Ver informacion</a>
            </li>
            <li>
                <h2> Arthur C. Clarke </h2>
                <img width="400" src="img/clarke.jpg" alt="">
                <a href="http://localhost:3030/clarke">Ver informacion</a>
            </li>
            <li>
                <h2>Margaret Hamilton</h2>
                <img  width="400"   src="img/margaret-hamilton-con-el-codigo-del-apollo.jpg" alt="">
                <a href="http://localhost:3030/hamilton">Ver informacion</a>
            </li>
            <li>
                <h2>Grace Murray Hopper</h2>
                <img width="400"   src="img/Grace_M._Hopper.jpg" alt="">
                <a href="http://localhost:3030/hopper">Ver informacion</a>
            </li>
            <li>
                <h2>Ada Lovelace</h2>
                <img width="400" src="img/ada_lovelace.jpg" alt="">
                <a href="http://localhost:3030/lovelace">Ver informacion</a>
            </li>
            <li>
                <h2>Alan Turing</h2>
                <img  width="400" src="img/Alan_Turing.jpg" alt="">
                <a href="http://localhost:3030/turing">Ver informacion</a>
            </li>
        </ol>
     
</body>
</html>